{% extends 'base.html' %}
{% block title %}Add Workout{% endblock %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="{{ url_for('add_workout') }}" id="workout">
                <select name="exercise1" class="form-select" form="workout" required>
                    <option selected disabled value="">Select an exercise</option>
                    {% for exercise in exercises %}
                    <option value="{{ exercise.id }}">{{ exercise.name }}</option>
                    {% endfor %}
                </select>
                <div class="form-group" id="exercise1">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" name="weight1" placeholder="Weight" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="reps1" placeholder="Repetitions" required>   
                        </div>
                    </div>
                </div>  
                <button type="button" class="btn btn-info addSet" exercise="1">Add Set</button>           
                <button type="button" id="addExercise" class="btn btn-primary">Add Exercise</button>
                <input type="hidden" name="exercise_count" value="1">
                <button type="submit" class="btn btn-success btn-block">Add Workout</button>
            </form>
            <br>
        </div>
    </div>
</div>
<script type="text/html" id="exercise_template">
    <select name="exercise<%= exercise_num %>" class="form-select"form="workout" required>
        <option selected disabled value="">Select an exercise</option>
        {% for exercise in exercises %}
        <option value="{{ exercise.id }}">{{ exercise.name }}</option>
        {% endfor %}
    </select>
    <div class="form-group" id="exercise<%= exercise_num %>">

    </div>
    <button type="button" class="btn btn-info addSet" exercise="<%= exercise_num %>">Add Set</button>
</script>

<script type="text/html" id="set_template">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" name="weight<%= exercise_num %>" placeholder="Weight" required>
        </div>
        <div class="col">
            <input type="text" class="form-control" name="reps<%= exercise_num %>" placeholder="Repetitions" required>
        </div>
    </div>
</script>
{% endblock %}